html,body{
    margin: 0px;
    padding: 0px;
}
div.under-construction{
    display:block;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

@media (min-width: 960px)  and ( max-height: 554px) {
    div.under-construction{
        padding-top: 40px;
    }
    div.under-construction .shadow{
        display: block;
        margin:0px auto 40px auto;
    }
    div.under-construction footer{
        height:40px;
        margin:0px;
        position: relative;
        width: 100%;
    }
    div.under-construction footer div{
        height: 40px;
    }
    div.under-construction footer nav,
    div.under-construction footer div p{
        margin-top:0px;
        padding-top:15px;
    }
}
@media (min-width: 960px) and ( min-height: 555px) {
    div.under-construction{
        position: absolute;
    }
    div.under-construction .pos-center{
        position: relative;
        width:0px;
        height:0px;
        top: 38%;
        left: 33.5%;
        display: block;
    }
    div.under-construction .shadow{
        position: absolute;
        margin:-267px 465px 267px -465px;
    }
    div.under-construction .pos-bottom{
        position: absolute;
        top: 0px;
        width:100%;
        height:0px;
    }
    div.under-construction footer{
        height:50px;
        position: absolute;
        width: 100%;
    }
    div.under-construction footer div{
        height: 50px;
    }
}
@media (min-width: 960px) {
    div.under-construction .shadow{
        width:450px;
        height:900px;
        border: 1px solid #171616;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    }
    div.under-construction .content-underconstruction{
        background-image: url( '../images/panel.png' );
        background-size: 100px 100%;
        background-repeat: repeat-x;
        width:450px;
        height:100%;
        border-top:1px solid #919090;
        border-bottom:1px solid #4c4a4a;
        border-left:1px solid #5a5a5a;
        border-right:1px solid #5a5a5a;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    div.under-construction .content-underconstruction h1{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 72px;
    }
    div.under-construction .content-underconstruction p.description{
        padding-bottom: 60px;
    }

    div.under-construction .content-underconstruction img{
        margin-top: 80px;
    }
    div.under-construction .content-underconstruction div.social{
        margin-top:50px;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="text"]{
        margin-right:73px;
        width:458px;
        padding:2px 15px;
    }
    div.under-construction footer div{
        max-width: 960px;
        margin: 0px auto;
    }
}


@media (min-width: 768px) and (max-width: 959px) and ( max-height: 504px) {
    div.under-construction footer{
        height:40px;
        margin:0px;
        position: relative;
        width: 100%;
    }
    div.under-construction{
        padding-top: 15px;
    }
    div.under-construction .shadow{
        margin:0px auto 15px auto;
    }
}
@media (min-width: 768px) and (max-width: 959px) and ( min-height: 505px) {
    div.under-construction div.background-shadow{
        position: absolute;
    }
    div.under-construction .pos-center{
        position: absolute;
        width:0px;
        height:0px;
        top: 50%;
        left: 50%;
        display: block;
    }
    div.under-construction .shadow{
        position: absolute;
        margin:-237px 374px 237px -374px;
    }

    div.under-construction .content-underconstruction h1{
        padding-top: 90px;
        font-size: 72px;
    }
    div.under-construction .content-underconstruction p.description{
        padding-bottom: 60px;
    }

    div.under-construction .pos-bottom{
        position: absolute;
        bottom: 0px;
        width:100%;
        height:0px;
    }
    div.under-construction footer{
        height:40px;
        position: absolute;
        margin:-40px 0px 40px 0px;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    div.under-construction .shadow{
        width:748px;
        height:432px;
        border: 1px solid #171616;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    }
    div.under-construction .content-underconstruction{
        background-image: url( '../images/panel.png' );
        background-repeat: repeat-y;
        width:746px;
        height:430px;
        border-top:1px solid #919090;
        border-bottom:1px solid #4c4a4a;
        border-left:1px solid #5a5a5a;
        border-right:1px solid #5a5a5a;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    div.under-construction .content-underconstruction h1{
        padding-top: 90px;
        font-size: 64px;
    }
    div.under-construction .content-underconstruction p.description{
        padding-bottom: 60px;
    }
    div.under-construction .content-underconstruction img{
        margin-top: 80px;
    }
    div.under-construction .content-underconstruction div.social{
        margin-top:50px;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="text"]{
        width:458px;
        margin-right:0px;
        padding:2px 15px;
    }
    div.under-construction footer div{
        width: 94%;
        margin: 0px auto;
    }
    div.under-construction footer nav,
    div.under-construction footer div p{
        margin-top:0px;
        padding-top:15px;
    }
    div.under-construction footer div p.left{
        margin-left: 0%;
    }
    div.under-construction footer div p.right{
        margin-right: 0%;
    }
}

@media (min-width: 531px) and (max-width: 767px) and ( max-height: 448px) {
    div.under-construction footer{
        height:40px;
        margin:0px;
        position: relative;
        width: 100%;
    }
}
@media (min-width: 531px) and (max-width: 767px) and ( min-height: 449px) {
    div.under-construction{
        position: absolute;
    }
    div.under-construction .pos-bottom{
        position: absolute;
        bottom: 0px;
        width:100%;
        height:0px;
    }
    div.under-construction footer{
        height:40px;
        position: absolute;
        margin:-40px 0px 40px 0px;
        width: 100%;
    }
}
@media (min-width: 531px) and (max-width: 767px) {
    div.under-construction .pos-center{
        padding-top: 12px;
    }
    div.under-construction .shadow{
        width:96%;
        height: 382px;
        border: 1px solid #171616;
        margin: 0px auto 12px auto;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    }
    div.under-construction .content-underconstruction{
        background-image: url( '../images/panel.png' );
        background-repeat: repeat-x;
        width:99,99%;
        height:380px;
        border-top:1px solid #919090;
        border-bottom:1px solid #4c4a4a;
        border-left:1px solid #5a5a5a;
        border-right:1px solid #5a5a5a;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    div.under-construction .content-underconstruction .description{
        width:80%;
        padding-left:10%;
        padding-right:10%;
    }
    div.under-construction .content-underconstruction h1{
        padding-top: 40px;
        font-size: 48px;
    }
    div.under-construction .content-underconstruction p.description{
        padding-bottom: 40px;
    }
    div.under-construction .content-underconstruction img{
        margin-top: 60px;
        max-width: 80%;
    }
    div.under-construction .content-underconstruction form.subscribe span.email{
        display:none;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="text"]{
        width:458px;
        margin-right:0px;
        padding:2px 15px;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="submit"]{
        margin-top: 10px;
    }
    div.under-construction .content-underconstruction div.social{
        margin-top:30px;
    }
    div.under-construction footer div{
        width: 94%;
        margin: 0px auto;
    }
    div.under-construction footer nav,
    div.under-construction footer div p{
        margin-top:0px;
        padding-top:15px;
    }
    div.under-construction footer div p.left{
        margin-left: 0%;
    }
    div.under-construction footer div p.right{
        margin-right: 0%;
    }
}

@media (max-width: 530px) and ( max-height: 408px) {
    div.under-construction footer{
        height:40px;
        margin:0px;
        position: relative;
        width: 100%;
    }
}
@media (max-width: 530px) and ( min-height: 409px) and ( min-width: 285px ) {
    div.under-construction{
        position: absolute;
    }
    div.under-construction .pos-bottom{
        position: absolute;
        bottom: 0px;
        width:100%;
        height:0px;
    }
    div.under-construction footer{
        height:40px;
        position: absolute;
        margin:-40px 0px 40px 0px;
        width: 100%;
    }
}
@media (max-width: 530px) {
    div.under-construction .pos-center{
        padding-top: 7px;
    }
    div.under-construction .shadow{
        width:96%;
        height: 352px;
        border: 1px solid #171616;
        margin: 0px auto 7px auto;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.8);
        box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    }
    div.under-construction .content-underconstruction{
        background-image: url( '../images/panel.png' );
        background-repeat: repeat-x;
        width:99,99%;
        height:350px;
        border-top:1px solid #919090;
        border-bottom:1px solid #4c4a4a;
        border-left:1px solid #5a5a5a;
        border-right:1px solid #5a5a5a;
        text-align: center;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    div.under-construction .content-underconstruction .description{
        width:80%;
        padding-left:10%;
        padding-right:10%;
    }
    div.under-construction .content-underconstruction h1{
        padding-top: 20px;
    }
    div.under-construction .content-underconstruction img{
        margin-top: 20px;
        max-width: 80%;
    }
    div.under-construction .content-underconstruction form.subscribe span.email{
        display:inline-block;
        position: absolute;
        margin:0% 7% 0% -7%;
        height:33px;
        background-image: url('../images/input-span.png');
        background-position: right top;
        width:7%;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="text"]{
        width:70%;
        padding:2px 0px 2px 15px;
        margin-right:7%;
    }
    div.under-construction .content-underconstruction form.subscribe input[type="submit"]{
        margin-top: 10px;
    }
    div.under-construction .content-underconstruction div.social{
        margin-top:15px;
    }
    div.under-construction footer div{
        width: 94%;
        margin: 0px auto;
    }
    div.under-construction footer nav,
    div.under-construction footer div p{
        margin-top:0px;
        padding-top:15px;
    }
    div.under-construction footer div p.left{
        display: none;
        margin: 0px auto;
    }
    div.under-construction footer div p.right{
        float:none;
        text-align: center;
        margin-top:0px;
        padding-top:15px;
    }
}

@media (max-width: 285px) and ( max-height: 464px) {
    div.under-construction footer{
        height:40px;
        margin:0px;
        position: relative;
        width: 100%;
    }
}
@media (max-width: 285px) and ( min-height: 465px) {
    div.under-construction{
        position: absolute;
    }
    div.under-construction .pos-bottom{
        position: absolute;
        bottom: 0px;
        width:100%;
        height:0px;
    }
    div.under-construction footer{
        height:40px;
        position: absolute;
        margin:-40px 0px 40px 0px;
        width: 100%;
    }
}
@media (max-width: 285px){
    div.under-construction .pos-center{
        padding-top: 5px;
    }
    div.under-construction .shadow{
        height: 412px;
        margin:0px auto 5px auto;
    }
    div.under-construction .content-underconstruction{
        height: 410px;
    }
}

/*////////////////////////////////////////////////////////////////////*/

div.under-construction .left{
    float: left;
}
div.under-construction .right{
    float: right;
}
div.under-construction .content-underconstruction img.logo{
    margin-bottom: 20px;
}
div.under-construction .content-underconstruction h1{
    font-family: "Yanone Kaffeesatz",sans-serif;
    margin: 0px;
    color: #222222;
}
div.under-construction .content-underconstruction .description{
    font-weight: 500;
    font-family: Helvetica, Arial,sans-serif;
    text-shadow: 1px 1px 1px #222;
    text-transform: uppercase;
}

div.under-construction .content-underconstruction form.subscribe input[type="text"]{
    height: 32px;
    color: #ddd;
    background-image: url('../images/input.png');
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
div.under-construction .content-underconstruction form.subscribe input[type="text"]:focus{
    outline: none;
}

div.under-construction .content-underconstruction form.subscribe input[type="submit"]{
    width: 210px;
    color: #dddddd;
    font-family : "Proxima Nova", sans-serif;
    font-size: 20px;
    line-height: 20px;
    height: 32px;
    background-image: url('../images/submit.png');
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    padding:1px 0px;
    text-shadow: 1px 1px 1px #222;
}
div.under-construction .content-underconstruction form.subscribe input[type="submit"]:hover{
    color: #ffffff;
    cursor: pointer;
}
div.under-construction footer{
    background-image: url('../images/footer.png');
    padding-left: 0px;
    padding-right: 0px;
}
div.under-construction footer div{
    padding-top: 0px;
}

div.under-construction footer p{
    font-size: 12px;
    padding-top: 20px;
    margin:0px;
    text-align: center;
}

div.under-construction .content-underconstruction div.social a{
    display:inline-block;
    margin-left:10px;
    width:32px;
    height: 33px;
    background-image: url('../images/social.png');
    opacity: 0.8;
    filter:alpha(opacity=80);
}

div.under-construction .content-underconstruction div.social a:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}

div.under-construction .content-underconstruction div.social a.twitter{
    background-position: 0px 0px;
}

div.under-construction .content-underconstruction div.social a.facebook{
    background-position: 96px 0px;
}

div.under-construction .content-underconstruction div.social a.mail{
    background-position: 64px 0px;
}

div.under-construction .content-underconstruction div.social a.rss{
    background-position: 32px 0px;
}





/* SLIDE THREE */
.type ,
.after ,
.before ,
.defaultProgram ,
.slideThree {
    width: 97px;
    height: 26px;
    background: #333;
    margin: 10px 83px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.type{
    width: 150px;
}

.type:after ,
.after:after ,
.before:after ,
.defaultProgram:after ,
.slideThree:after {
    content: '>';
    font: 26px Arial, sans-serif;
    color: #00AAFF;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: 600;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.type:after{
    content: 'Generate' !important;
    color: #00AAFF;
}


.type:before ,
.after:before ,
.before:before ,
.defaultProgram:before ,
.slideThree:before {
    content: '<';
    font: 26px Arial, sans-serif;
    color: #00AAFF;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: 600;
}
.type:before {
    content: 'Instantiate';
}

.type label ,
.after label ,
.before label ,
.defaultProgram label ,
.slideThree label {
    display: block;
    width: 50px;
    height: 25px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.type label {
    width: 70px;
}

.type input[type=checkbox]:checked + label,
.after input[type=checkbox]:checked + label,
.before input[type=checkbox]:checked + label,
.defaultProgram input[type=checkbox]:checked + label,
.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}
.type input[type=checkbox]:checked + label{
    left: 75px;
}


.ondisplay{
    text-align:center;
    border-bottom:1px solid gray;
    padding:20px 0;
}

.ondisplay section{
    width:100px;
    height:100px;
    background: #555;
    display:inline-block;
    border: 1px solid gray;
    text-align: center;
    margin-top:5px;
    border-radius:5px;
    box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
}

.ondisplay section::before {
    content:'click it';
    color: #bbb;
    font: 15px Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px black;
}

input[type=checkbox] {
    visibility: hidden;
}


label[class=label] {
    color: white;
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-weight: 400;
    line-height: 0px;
    cursor: auto;
}


