.inputSubmit {
    -webkit-align-items: flex-start;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://localhost/media/images/submit.png);
    background-repeat: no-repeat;
    background-size: 100px 30px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(221, 221, 221);
    cursor: pointer;
    display: inline-block;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: normal;
    height: 32px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgb(34, 34, 34) 1px 1px 1px;
    text-transform: none;
    vertical-align: middle;
    white-space: pre;
    width: 100px !important;
    word-spacing: 0px;
    writing-mode: lr-tb;
    position: relative;

}